.Intro {
  padding-top: 5rem;
  padding-bottom: 12rem;
  display: grid;
  place-items: center;
  font-family: "Roboto Mono", monospace;
}
.bullet p {
  font-size: 2rem;
}
.bullet p:hover {
  cursor: text;
  text-decoration: underline var(--primary-color);
  font-size: 2.5rem;
}
.Name {
  font-weight: 400;
  font-size: 2.5em;
}
.Text {
  font-size: 1.5em;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.Text svg {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.Text2 {
  font-size: 0.75em;
}
.MyImage {
  position: relative;
  height: 200px;
  width: 160px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin: 2em;
}

@media only screen and (max-width: 500px) {
  .Name {
    font-size: 1.25em;
  }
  .Text2 {
    font-size: 0.5em;
  }
  .MyImage {
    height: 150px;
    width: 120px;
  }

  .bullet p {
    font-size: 1rem;
  }
  .bullet p:hover {
    font-size: 1.5rem;
  }
}
