.Intro {
  padding-top: 5rem;
  display: grid;
  place-items: center;
  font-family: "Roboto Mono", monospace;
}
.Name {
  font-weight: 400;
  font-size: 2.5em;
}
.Text {
  font-size: 1.5em;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.Text2 {
  font-size: 0.75em;
}
.MyImage {
  position: relative;
  height: 200px;
  width: 160px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin: 2em;
}

@media only screen and (max-width: 500px) {
  .Name {
    font-size: 1.25em;
  }
  .Text2 {
    font-size: 0.5em;
  }
  .MyImage {
    height: 150px;
    width: 150px;
  }
}
