.Footer {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 3rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  user-select: none;
}

@media only screen and (max-width: 500px) {
  .Footer {
    bottom: 5rem;
  }
}
