.Landing {
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 72%;
  width: 59px;
  height: 59px;
  bottom: -59px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 33%;
  width: 60px;
  height: 60px;
  bottom: -60px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 51%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 43%;
  width: 63px;
  height: 63px;
  bottom: -63px;
  animation-delay: 6s;
}
.background li:nth-child(4) {
  left: 83%;
  width: 20px;
  height: 20px;
  bottom: -20px;
  animation-delay: 6s;
}
.background li:nth-child(5) {
  left: 6%;
  width: 77px;
  height: 77px;
  bottom: -77px;
  animation-delay: 5s;
}
.background li:nth-child(6) {
  left: 51%;
  width: 27px;
  height: 27px;
  bottom: -27px;
  animation-delay: 1s;
}
.background li:nth-child(7) {
  left: 72%;
  width: 20px;
  height: 20px;
  bottom: -20px;
  animation-delay: 33s;
}
.background li:nth-child(8) {
  left: 48%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 6s;
}
.background li:nth-child(9) {
  left: 3%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 40s;
}
