.LinksFloater {
  display: grid;
  gap: 1.5rem;
  position: fixed;
  left: 5rem;
  bottom: 5rem;
}

.LinksFloater li svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: fill 0.2s;
}

.LinksFloater li svg:hover {
  fill: var(--primary-color);
}

@media (width <= 800px) {
  .LinksFloater {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 5px;
    left: 0;
    top: 8rem;
    bottom: auto;
    gap: 1rem;
  }

  .LinksFloater li svg {
    height: 1rem;
    width: 1rem;
  }
}
