.Heading {
  font-size: 1.5rem;
  justify-self: left;
  border: 2px solid white;
  padding: 3px;
  display: inline-block;
  /* text-align: initial; */
}
.pt2 {
  padding-top: 15rem;
  font-size: 2rem;
}

.pt1 {
  padding-top: 3rem;
}

.show500 {
  display: none;
}

.hide500 {
  display: block;
}

@media (width <= 500px) {
  .pt2 {
    padding-top: 10rem;
    font-size: 1.5rem;
  }
  .Heading {
    font-size: 1.3rem;
  }
  .show500 {
    display: block;
  }
  .hide500 {
    display: none;
  }
}
