* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

html,
body {
  color: white;
  background: repeating-linear-gradient(90deg, transparent, #6b6b6b);
  background-size: 1em 1em;
  background-color: #000000;
  opacity: 1;
  min-height: 100vh;
}
