.main {
  position: relative;
  /* margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 800px; */
  width: min(100% - 3rem, 80ch);
  margin-inline: auto;
  text-align: center;
  display: grid;
  place-items: center;
}

/* @media (min-width: 768px) {
  .main {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main {
    width: 1170px;
  }
} */
